body {
    background: rgb(255, 255, 220);
}

.header {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    display: flex;
}

.small {
    height: 80px;
}

.large {
    height: 200px;
}
