* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
html,
body,
#root {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
}
body,
input,
button {
    font: 14px "Roboto", sans-serif;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
button {
    cursor: pointer;
}

.main {
    display: inline-grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 200px 250px auto;
}

body {
    background: whitesmoke;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    background: black;
    height: 160px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.user-profile {
    display: flex;
}

.small {
    width: 100%;
    height: auto;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    font-style: bold;
    font-size: 120%;
}

.main-header {
    text-align: center;
    color: white;
    margin: 20px;
}
.logo {
    width: 100px;
}
.logo-container {
    margin: 20px 20px 20px 60px;
}
a {
    color: white;
}

.profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px 60px 20px 20px;
}

.profile-image:hover,
.friend-profile-image:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s;
}

/* PICTURE UPLOADER */
.uploader {
    position: fixed;
    background: black;
    top: 160px;
    right: 40px;
    width: 250px;
    height: 200px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.uploader-text {
    text-align: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    border: solid 1px white;
    border-radius: 10px;
    height: 30px;
    width: 160px;
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
    color: black;
}

.inputfile + label {
    cursor: pointer;
}

/* FIND PEOPLE */
.find-people,
.friends,
.chat,
.user-profile,
.other-profile,
.welcome {
    display: grid;
    grid-template-columns: 40px 50px 204px 50px auto 100px 100px 100px 40px;
    grid-template-rows: 180px 70px auto auto auto auto 100px auto 10px;
    height: 100vh;
    width: 100vw;
}

.profile-box {
    grid-column-start: 3;
    grid-row-start: 5;
    display: flex;
}

.people-search {
    grid-column-start: 5;
    grid-row-start: 2;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    height: 200px;
}

.find-profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 50px 40px 20px 40px;
}
/* CHAT */

.chat-messages-container {
    text-align: center;
    overflow-y: scroll;
    grid-column-start: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    border: solid black 2px;
    box-shadow: 2px 5px grey;
}

.chat-title {
    grid-column-start: 5;
    grid-row-start: 2;
    text-align: center;
    align-self: center;
}

.chat-textarea-container {
    grid-column-start: 5;
    grid-row-start: 7;
    border: grey solid 2px;
    align-self: center;
}

.chat-message-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chat-message-text-container {
    border: solid rgb(227, 197, 143) 1px;
    border-radius: 10px;
    background: lightyellow;
    width: 400px;
    overflow-wrap: break-word;
}

.chat-message-text {
    font-style: bold;
    font-size: 120%;
    margin: 5px;
}

.chat-message-timestamp {
    font-style: italic;
    font-size: 80%;
    margin: 5px;
}
/* FIND PEOPLE */
.find-people-input {
    border-bottom: solid grey 2px;
    font-size: 150%;
}
.error {
    color: tomato;
}

.find-people-container,
.wannabe-container,
.friend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* PROFILE */
.x-profilepic {
    grid-column-start: 3;
    grid-row-start: 3;
    border: grey solid 2px;
    align-self: center;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 2px 5px grey;
}

.large {
    width: 100%;
}

/* USER PROFILE */
.other-profile-pic-container {
    grid-column-start: 3;
    grid-row-start: 3;
    border: grey solid 2px;
    align-self: center;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    box-shadow: 2px 5px grey;
}

.other-profile-pic {
    width: 100%;
}
/* BIO */
.profile-bio-container {
    grid-column-start: 5;
    grid-row-start: 3;
    text-align: center;
    height: 250px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: rgb(227, 224, 224); */
    border: solid grey 2px;
    box-shadow: 2px 5px grey;
    margin-left: 30px;
}
.bio-editor-textarea {
    border: solid grey 2px;
    font-size: 150%;
}

.bio-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.edit-bio-p {
    font-style: bold;
    font-size: 150%;
    margin: 5px;
}

.bio-text {
    font-style: bold;
    font-size: 150%;
    margin: 50px 20px 5px 20px;
}
/* FRIENDS */

.friends-title {
    grid-column-start: 5;
    grid-row-start: 2;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}

.wannabes-title {
    grid-column-start: 5;
    grid-row-start: 4;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}

.wannabes-box {
    grid-column-start: 3;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.friends-box {
    grid-column-start: 3;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.friend-profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 50px 45px 20px 40px;
}

.friends-p {
    font-style: bold;
    font-size: 150%;
    margin: 5px;
}

.friends-button:hover {
    background: black;
    color: white;
}
/* REGISTRATION, LOGIN, RESET */

.registration,
.login,
.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container {
    grid-column-start: 5;
    grid-row-start: 3;
}

.welcome-header {
    grid-column-start: 5;
    grid-row-start: 2;
    text-align: center;
}

.welcome-component-header {
    margin: 20px;
}
.welcome-input {
    border-bottom: solid grey 2px;
    font-style: bold;
    font-size: 150%;
    margin: 5px;
    text-align: center;
}

.welcome-button {
    font-style: bold;
    font-size: 150%;
    margin: 5px;
}

.welcome-button:hover,
.welcome-link:hover {
    background: black;
    color: white;
    font-style: bold;
    font-size: 150%;
    margin: 5px;
}

.welcome-link {
    font-style: bold;
    font-size: 150%;
    margin: 5px;
    color: grey;
}

.welcome-p {
    font-style: bold;
    font-size: 150%;
    margin: 5px;
    text-align: center;
    color: red;
    font-style: bold;
    font-size: 150%;
    margin: 5px;
    text-align: center;
}
